@import 'utils';

.fade-enter {
  animation-duration: .5s;
  animation-delay: .2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: fadeIn;
}

.table-wrapper {
  background: rgba(70, 70, 70, .25);
  padding: 1rem 1rem .5rem 1rem;
  border-radius: 3px;
  height: calc(100vh - 13rem);
  .table-header {
    display: flex;
    align-items: center;
    color: $oc-gray-7;
    margin-bottom: 1rem;
    font-weight: 700;
    .season {
      width: 100%;
      font-size: 1.2rem;
      @include media('<medium') {
        font-size: .9rem;
      }
      @include media('<small') {
        font-size: .75rem;
      }
    }
    .spacer-flex {
      flex: 35%;
    }
    .numeric-data {
      flex: 20%;
      font-size: .9rem;
      text-align: center;
      @include media('<medium') {
        font-size: .8rem;
      }
      @include media('<small') {
        flex: 19%;
        font-size: .65rem;
      }
    }
    .goals-for {
      @include media('<small') {
        display: none;
      }
    }
    .goals-against {
      @include media('<small') {
        display: none;
      }
    }
  }
  .scroll {
    width: 41.25rem;
    height: 90%;
    transition: .2s ease-in;
    @include media('<medium') {
      width: 80vw;
    }
  }
}