@import 'utils';

.slide-enter {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: slideInDown;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 5rem 0 5rem;
  @include media('<medium') {
    width: 90vw;
    padding: .5rem 0 0 0;
  }
  .logo {
    display: flex;
    align-items: center;
    .flag {
      width: 5rem;
      height: 3rem;
    }
    h1 {
      font-size: 2.4rem;
      font-weight: 700;
      color: $oc-gray-5;
      user-select: none;
      padding-left: .5rem;
      @include media('<large') {
        font-size: 2rem;
      }
      @include media('<medium') {
        font-size: 1.6rem;
        padding-left: .3rem;
      }
      @include media('<small') {
        font-size: 1.3rem;
      }
    }
  }
  .spacer {
    flex: 1;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      color: $oc-gray-7;
      font-size: 2rem;
      margin: 0 .2rem;
      padding: .2rem .4rem;
      transition: .2s ease-in;
      @include media('<large') {
        font-size: 1.6rem;
      }
      @include media('<medium') {
        font-size: 1.3rem;
        margin: 0 .1rem;
        padding: .2rem;
      }
      @include media('<small') {
        font-size: 1rem;
      }
      &:hover {
        color: $oc-gray-6;
        cursor: pointer;
      }
    }
  }
}