@import 'utils';

.slide-enter {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: slideInUp;
}

.footer {
  .navigation {
    display: flex;
    &:first-child {
      margin-right: 1rem;
    }
    .button {
      color: $oc-gray-7;
      font-size: 3rem;
      margin-bottom: .2rem;
      transition: .2s ease-in;
      padding: .5rem;
      &:hover {
        color: $oc-gray-6;
        cursor: pointer;
      }
      @include media('<large') {
        font-size: 2.8rem;
      }
      @include media('<medium') {
        font-size: 2.4rem;
      }
      @include media('<small') {
        font-size: 2rem;
      }
    }
  }
}