@import 'utils';

%header-style {
  user-select: none;
  transition: .2s ease-in;
  font-family: 'Heebo';
}

.landing-template {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  @include media('<medium') {
    width: 95vw;
    flex-direction: column;
  }
  .left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      @extend %header-style;
      color: $oc-gray-6;
      font-size: 5.5rem;
      font-weight: 800;
      margin: 0 0 -1.3rem 0;
      padding: 0;
      @include media('<huge') {
        font-size: 4.5rem;
      }
      @include media('<large') {
        font-size: 3.5rem;
      }
      @include media('<medium') {
        font-size: 3rem;
        margin: 0 0 -.8rem 0;
      }
      @include media('<small') {
        font-size: 2.5rem;
      }
    }
    h2 {
      @extend %header-style;
      color: $oc-gray-6;
      font-size: 3.3rem;
      font-weight: 800;
      margin: 0;
      padding: 0;
      @include media('<huge') {
        font-size: 2.8rem;
      }
      @include media('<large') {
        font-size: 2.3rem;
      }
      @include media('<medium') {
        font-size: 2rem;
      }
      @include media('<small') {
        font-size: 1.7rem;
      }
    }
    h3 {
      @extend %header-style;
      color: $oc-gray-7;
      font-size: 1.8rem;
      font-weight: 700;
      @include media('<huge') {
        font-size: 1.65rem;
      }
      @include media('<large') {
        font-size: 1.3rem;
      }
      @include media('<medium') {
        font-size: 1.15rem;
      }
      @include media('<small') {
        font-size: 1rem;
      }
    }
  }
}