@import 'utils';

.slide-enter {
  animation-duration: .3s;
  // animation-delay: 2.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: slideInUp;
}

.footer {
  .navigation {
    color: $oc-gray-7;
    font-size: 3rem;
    &:hover {
      color: $oc-gray-6;
      cursor: pointer;
    }
  }
}